.resume-title {
    padding-top: 50px;
    text-align: center;
}

.resume-download {
    text-align: center;
    margin-top: 20px;
}

.tech-title {
    margin: 40px auto 0;
}

.skill-list {
    margin: 10px auto;
    width: 50%;
    text-align: center;
}