.contact-title {
    padding-top: 50px;
    text-align: center;
}

.contact-inputs {
    display: block;
    margin: 20px auto;
    width: 15%;
}

#contact-btn {
    display: block;
    width: 50%;
    margin: 0 auto;
}