.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-right: 50px;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
}

button:hover, .pages {
    color: black;
    background-color: white;
    border: none;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}